<h1>Editing quote</h1>

<%= render "form", quote: @quote %>

<br>

<div class="text-center">
  <%= link_to "Show this quote", @quote, class: 'btn btn-success' %> <!-- Green Button -->
  <%= link_to 'Back to your quotes', '/your-quotes', class: 'btn btn-warning btn-block' %> <!-- Yellow Button linking to '/your-quotes' -->
</div>
