<h1>Add a New Quote</h1>

<%= render "form", quote: @quote %>

<br>

<div>
  <%= link_to 'Back to your quotes', '/your-quotes', class: 'btn btn-warning btn-block' %> <!-- Yellow Button linking to '/your-quotes' -->
</div>
